registry=https://nexus-oci.int.bch.bancodechile.cl/repository/npm-mf-group/
init.author.name=Banco de Chile
init.author.email=npm@npm.cl
email=npm@npm.cl
always-auth=true
strict-ssl=false
//nexus-oci.int.bch.bancodechile.cl/repository/npm-mf-group/:_auth="cmppbWVuZXpsOkFuYXllbjIwMDAu"