Options -MultiViews
RewriteEngine On
RewriteBase /

# No reescribir archivos o directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.html para que Angular maneje las rutas
RewriteRule ^ index.html [L]
